/* Apply a background color to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Style the heading */
h1 {
    color: #007acc;
    margin-top: 20px;
}

/* Style the paragraph */
p {
    margin: 20px auto; /* Top and bottom: 20px, left and right: auto */
    width: 60%;       /* Ensure the paragraph takes up 60% of the page width */
 }

/* Style the link */
button {
    color: #007acc;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #007acc;
    padding: 5px 10px;
    border-radius: 5px;
}

button:disabled {
    color: gray;
    border-color: gray;
    background-color: #f0f0f0;
    cursor: not-allowed;
    text-decoration: none;
}

/* Button styling for filerenamed="false" */
button[filerenamed="false"] {
    color: gray;
    border-color: gray;
    background-color: rgb(247 200 200);
    cursor: not-allowed;
}

/* Button styling for filerenamed="true" */
button[filerenamed="true"] {
    color: gray;
    border-color: gray;
    background-color: rgb(209 232 209);
    cursor: not-allowed;
}

/* Add hover effect to the link */
a:hover {
    background-color: #007acc;
    color: white;
}
